@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;700&display=swap');

:root {
  --main-font: 'Khula', sans-serif;

  --wp--preset--bg--white: #FFFFFF;
  --wp--preset--bg--gray: #F6F7F8;
  --wp--preset--color--black: #2F2F2F;
  --wp--preset--mainlight: #1E5DAE;
  --wp--preset--hoverblue: #006fbf;
  --wp--preset--gradient--secondary-button: linear-gradient(90deg, #E87511 0%, #FFB04D 100%);
  --wp-preset--gray: #9B9B9B;

  --wp--preset--shadow: box-shadow: 0 4px 8px 0 rgba(0,0,0,.03);
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--wp--preset--bg--gray);
  color: var(--wp--preset--color--black);
}

::-moz-selection {
  color: var(--wp--preset--bg--white);
  background: var(--wp--preset--mainlight);
}

::selection {
  color: var(--wp--preset--bg--white);
  background: var(--wp--preset--mainlight);
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}
